
.icon-brush:before { content: '\e800'; } /* '' */
.icon-megaphone:before { content: '\e801'; } /* '' */
.icon-globe:before { content: '\e802'; } /* '' */
.icon-th-thumb-empty:before { content: '\f00b'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
